@model ShopDevmo2.Models.User

@{
    ViewBag.Title = "Users Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.LoginName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.LoginName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles)
        </dd>

    </dl>
</div>
<p>
    <a target="_self" href="@Url.Action("Edit", "Users", new { id = Model.Id})" class="btn btn-primary rounded-0 font-weight-bold mt-3">Edit</a>
    <a target="_self" href="@Url.Action("Index", "Users")" class="btn btn-secondary rounded-0 font-weight-bold mt-3">Back to List</a>
</p>
