@model IEnumerable<ShopDevmo2.Models.User>

@{
    ViewBag.Title = "Users Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="font-weight-bold">Index</h2>

<p>
    <a target="_self" href="@Url.Action("Create", "Users")" class="btn btn-warning rounded-0 font-weight-bold mt-3">Create</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account.LoginName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account.LoginName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
            <td>
                <a target="_self" href="@Url.Action("Edit", "Users", new { id = item.Id })" class="btn btn-primary rounded-0 font-weight-bold">Edit</a>
                <a target="_self" href="@Url.Action("Details", "Users", new { id = item.Id })" class="btn btn-info rounded-0 font-weight-bold">Details</a>
                <a target="_self" href="@Url.Action("Delete", "Users", new { id = item.Id })" class="btn btn-danger rounded-0 font-weight-bold">Delete</a>
            </td>
        </tr>
    }

</table>
