@model IEnumerable<ShopDevmo2.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a target="_self" href="@Url.Action("Create", "Categories")" class="btn btn-warning rounded-0 font-weight-bold mt-3">Create</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Parent.DisplayText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayText)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Parent.DisplayText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayText)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                <a target="_self" href="@Url.Action("Edit", "Categories", new { id = item.Id })" class="btn btn-primary rounded-0 font-weight-bold mt-3">Edit</a>
                <a target="_self" href="@Url.Action("Details", "Categories", new { id = item.Id })" class="btn btn-info rounded-0 font-weight-bold mt-3">Details</a>
                <a target="_self" href="@Url.Action("Delete", "Categories", new { id = item.Id })" class="btn btn-danger rounded-0 font-weight-bold mt-3">Delete</a>
            </td>
        </tr>
    }

</table>
