@using System.Text.RegularExpressions;
@model IEnumerable<ShopDevmo2.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="font-weight-bold">Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a target="_self" href="@Url.Action("Create", "Products")" class="btn btn-warning rounded-0 font-weight-bold mt-3">Create</a>
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Category.DisplayText)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FeatureImage)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Category.DisplayText)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                    @html.displayfor(modelitem => item.gender)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>*@
            <td>
                <img src="@Server.UrlDecode(item.FeatureImage)" style="max-height:50px;" />
            </td>
            <td>
                <a target="_self" href="@Url.Action("Edit", "Products", new { id = item.Id })" class="btn btn-primary rounded-0 font-weight-bold">Edit</a> 
                <a target="_self" href="@Url.Action("Details", "Products", new { id = item.Id })" class="btn btn-info rounded-0 font-weight-bold">Details</a> 
                <a target="_self" href="@Url.Action("Delete", "Products", new { id = item.Id })" class="btn btn-danger rounded-0 font-weight-bold">Delete</a>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }
</table>

@*@section Breakcrumb{
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Home</li>
        </ol>
    }*@
